<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </script>
<body>
<center>
      <dl>
                    <div class="jumbotron">
                            <h1>Supply Chain Forecasting </h1>
                    </div>
          <div class="container">
</div>
</script>
    <meta charset="UTF-8">
    <title>Supply Chain Forecast</title>
    <ul>
        <a href="{{ url_for('singlePage') }}"><button type="button" class="btn btn-primary" >Single Data Point</button></a>
        <a href="{{ url_for('excelSub') }}"><button type="button" class="btn btn-success" >Upload Excel Sheet</button></a>
    </ul>
</head>
